SECRET_KEY=


DEBUG=

NAME=
USER=
PASSWORD=
HOST=
PORT=
TELEGRAM_BOT_TOKEN=
#STRIPE_SECRET_KEY=
#STRIPE_PUBLISHABLE_KEY=

#EMAIL_HOST_USER=
#EMAIL_HOST_PASSWORD=j

#REDIS_HOST=
#REDIS_PORT=
#REDIS_DB=
#REDIS_CELERY_DB=
#REDIS_BEAT_DB=